div.meroNavbar {
    top: 1rem;
    position: fixed;
}

.meroCommand {
    margin-left: 0.5rem;
    background-color: transparent;
    color: gray;
}

.meroCSS {
    margin-left: 0.5rem;
    background-color: transparent;
    color: gray;    
}

.meroStatus{
    margin-left:0.5rem;
}