/* ---------------------------------------------------------------*/
/* page                                                           */
/* ---------------------------------------------------------------*/

body {
    color: gray;
	background-color: black;
	font-family: Comic Sans MS;
	font-size:20px;
	} 


h1{
		font-weight:bold;
	font-size: 35px;
	
	font-family: Arial;
	
	color:#FFCC01;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 10px;	

}

h2{
	color:white;
	font-family: Arial;
	font-size:25px;
	font-style: italic;
}

 input {
	font-family: Arial;
	font-size:12px;   
	color: white;
   background-color: #333333;
   border-style: none;
   font-size:20px;
   
}

.ui-autocomplete{
	font-family: Arial;
	font-size:12px;   
	
}

.jsimg{
	border-style: solid;
	border-color: gray;
	border-width: 5px;
	margin: 10px;
}

ul{
	margin:10px;
	border-width:1px;
	/*border-style: solid;*/
}

a{
    color : #1C94C4;
}

.jse-content{
	margin-top:100px;
}

.toolbar{
	position : fixed;
	top:10px;
	background-color: black;
}